<div>
    <form name="f" action="" method="post" >
        <fieldset>
            <legend>Please Add User</legend>
            <label for="username">Username</label>
            <input [(ngModel)]="useradd.username" placeholder="username" id="username" name="username"/>
            <label for="phonenumber">Phone Number</label>
            <input [(ngModel)]="useradd.phone" placeholder="phone number" id="phonenumber" name="phonenumber"/>
            <label for="password">Password</label>
            <input [(ngModel)]="useradd.password" id="password" type="password" name="password"/>
            <div class="form-actions">
                <!--<button type="submit" class="btn" onclick="addUserX()">Add User</button>-->
                <button button type="submit" (click)="addUser()">Add User</button>
            </div>
        </fieldset>
    </form>
</div>