<div>
    <form name="login" action="#" method="post" >
        <fieldset>
            <legend>Please Login</legend>
            <label for="username">Username</label>
            <input [(ngModel)]="loginRequest.username" placeholder="username" id="username" name="username"/>
            <label for="password">Password</label>
            <input [(ngModel)]="loginRequest.password" id="password" type="password" name="password"/>
            <div class="form-actions">
                <button type="submit" class="btn" (click)="login()"> Login</button>
            </div>
        </fieldset>
    </form>
</div>