<div>

        <fieldset>
            <legend>Registered Users</legend>

            <div *ngFor="let user of users">
                <div>
                    <h5>{{user.id}} {{user.phone}}</h5>
                </div>
            </div>

        </fieldset>

</div>